  
{% extends 'frontend/base.html' %}
{% block title %} Contact {% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Contact Us</h1>
    <p class="lead">You can contact us by this information below (The table below is being used for only the purpose of checking the connection with database)</p>
    <hr class="my-2">
    <p>For more info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Go to About Us</a>
    </p>
</div>

  
<div class="container">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Detail</th>
                <th>Barcode</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Status</th>               
            </tr>
        </thead>
        <body>
            {% for p in products %}
            <tr>
                <td>{{p.product_name}}</td>
                <td>{{p.product_detail}}</td>
                <td>{{p.product_barcode}}</td>
                <td>{{p.product_qty}}</td>
                <td>{{p.product_price}}</td>
                <td>{{p.product_status}}</td>
            </tr>
            {% endfor %}
        </body>
    </table>
</div>
{% endblock %}
