{% extends 'frontend/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}

<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">The Top 10 Mysterious</h1>
          <p class="lead text-muted">Wheather it's unsolved mysterious places, things, or even living things beside human, this page gathers all the information around the globe that contains some of articles that you might be curious about and could read it up</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
</section>

<div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
              <img class="mr-3" src="./static/images/mountain.jpg" width="346" height="250" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Top 10 Most Myterious Places in the Entire Globe. Planet Earth is a woudrous place with mythical origins or unexplained phenomena</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"> <a class="nav-link" style="color:gray" href="{% url 'mplaces' %}">View </a></button>
                    </div>
                    <small class="text-muted">Estimated read time  (5 mins)</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
              <img class="mr-3" src="./static/images/mountain.jpg" width="346" height="250" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"> <a class="nav-link" style="color:gray" href="{% url 'about' %}">View </a></button>
                    </div>
                    <small class="text-muted">Estimated read time  (5 mins)</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
              <img class="mr-3" src="./static/images/mountain.jpg" width="346" height="250" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"> <a class="nav-link" style="color:gray" href="{% url 'about' %}">View </a></button>
                    </div>
                    <small class="text-muted">Estimated read time  (5 mins)</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
              <img class="mr-3" src="./static/images/mountain.jpg" width="346" height="250" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"> <a class="nav-link" style="color:gray" href="{% url 'about' %}">View </a></button>
                    </div>
                    <small class="text-muted">Estimated read time  (5 mins)</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
              <img class="mr-3" src="./static/images/mountain.jpg" width="346" height="250" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"> <a class="nav-link" style="color:gray" href="{% url 'about' %}">View </a></button>
                    </div>
                    <small class="text-muted">Estimated read time  (5 mins)</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
              <img class="mr-3" src="./static/images/mountain.jpg" width="346" height="250" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"> <a class="nav-link" style="color:gray" href="{% url 'about' %}">View </a></button>
                    </div>
                    <small class="text-muted">Estimated read time  (5 mins)</small>
                  </div>
                </div>
              </div>
            </div>

            
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}